body {
    margin: 0;
    display: block;
}

.logo {
    height: auto;
    width: 70px;
}

.instaIcon {
    margin-left: auto;
    color: black;
    text-transform: lowercase;
    font-family: 'Baskerville', serif;
}

.instaIcon a:hover {
    color: #c0d3d6;
}